.banner nav {
  display: flex;

  @extend .justify-content-center;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.brand {
  text-decoration: none;
  font-size: 2rem;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
