.banner{
	z-index: 120;
	//padding: $spacer;
}
.fullpage-wrapper{
	//top:-231px;//-135px;
}
.der{ opacity: 0;}
//MENU 
#nav-primary-id{
	//position: fixed;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.menu-horizontal {
	width: 100%;
	//height: 150px;
	top: 0;
	z-index: 1000;
	overflow: hidden;
}
.menu-top {
	top: -150px;
}
.menu-top.menu-open {
	top: 0px;
}
.menu-top.menu-close {
	top: -150px;
}
.menu-push {
	overflow-x: hidden;
	position: relative;
	top: -250px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.push-toright {
	top: 0px;
}
//HAMBURSESA ANIMADA,:)))
#nav-icon{
	z-index:1250;
	  width: 60px;
	  height: 45px;
	  position: relative;
	  //margin: 50px 0 0 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .5s ease-in-out;
	  -moz-transition: .5s ease-in-out;
	  -o-transition: .5s ease-in-out;
	  transition: .5s ease-in-out;
	  cursor: pointer;

  span{
	  display: block;
	  position: absolute;
	  height: 9px;
	  width: 100%;
	  background: #d3531a;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;

	 		&:nth-child(1) {
		  		top: 0px;
			}
			&:nth-child(2),
			&:nth-child(3){
				top: 18px;
			}
			&:nth-child(4){
				top: 36px;
			}
	}
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
//ELEMENTOS DEL MENU
.brand{
	top: -250px;
	overflow-x: hidden;
	position:relative;
	visibility: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.show{
	top:0px;
	visibility: visible;
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	transition: all 0.9s ease;
}
.nav{
	li{
		font-size: 1.75rem;	}
}